body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slider {
  overflow: hidden;
  position: relative;
  margin: auto;
}
.slider .content {
  position: relative;
}
.slider .content .page {
  float: left;
}
.page {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
